# Fichiers et dossiers R temporaires
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# IDE config folder
.idea/


# Variables d'environnement sensibles
.Renviron


# Fichiers de données générés localement
/output/exploratory-data-analysis/*.rds


# Cibles du pipeline {targets}
_targets/

# macOS
.DS_Store